<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @state.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Abbrev:</strong>
  <%= @state.abbrev %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
